<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Datos introducidos</h1>
    <p><%=dni %></p>
    <p><%=nombre %></p>
    <p><%=apellido %></p>
    <p><%=fechaNacimiento %></p>
    <p><%=email %></p>
    <p><%=web %></p>
    <p><%=password %></p>
</body>
</html>